div{
  
    background-color: rgb(8, 8, 8);
    margin: auto;
    padding: 5px;
    bottom: 2px;
}

p{
    color: rgb(236, 236, 239);
    
  }
  h3{
    color: red;
    font-weight: bold;
    font-size: larger;
    font-style: italic;
    font-family: initial;
  }